<div class="container text-center">
    <h3 class="mt-4">Pin Near You!</h3>
    <div>
        <label class="mt-2">Pin Name: </label>
        <h4 class="" id="randomName"><%= randomPin.pinName %></h4>
    </div>
    <div>
        <label class="mt-2">Category: </label>                                     
        <p id="randomCat"><%= randomPin.pinCategory %></p>
    </div>
    <div>
        <label class="mt-2">Comments: </label>                                     
        <h5 id="randomComments"><%= randomPin.comments %></h5>
    </div>
    <div>
        <label class="mt-2">Author: </label>          
        <h5 id="randomUsername"><%= randomPin.username %></h5>
    </div>
    <div id="randomId" title="<%= randomPin._id %>"></div>
</div>